:host {
    button.custom-btn {
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: var(--line-height);
        border-radius: var(--border-radius,var(--border-radius-md));
        border-width: var(--border-width,var(--border-width-md));
        padding: var(--padding,0 1em);
        cursor: pointer;
        min-width: 2.75em;
        display: inline-flex;
        align-items: center;
        letter-spacing: var(--letter-spacing-auto);
        border-style: solid;

        --btn-size: 2.75em;
        min-height: var(--btn-size);

        color: var(--color);
        background-color: var(--background-color);
        border-color: var(--border-color);

        &.disabled {
            cursor: not-allowed;
            --color: var(--color-neutral-dark-70) !important;
            --background-color: var(--color-action-disabled) !important;
            --border-color: var(--color-action-disabled) !important;
        }
        &:focus, &:focus-visible {
            outline-color: var(--color-action-focus);
            outline-width: var(--border-width-lg);
            outline-style: solid;
            outline-offset: 0.125em;
        }

        // KINDS
        &.primary:not(.danger) {
            --color: var(--color-neutral-light-00);
            --background-color: var(--color-action-default);
            --border-color: var(--color-action-default);

            &:hover {
                --background-color: var(--color-action-hover);
                --border-color: var(--color-action-hover);
            }

            &:active {
                --background-color: var(--color-action-pressed);
                --border-color: var(--color-action-pressed);
            }
        }
        &.secondary:not(.danger) {
            --border-color: var(--color-action-default);
        }
        &.tertiary:not(.danger) {
            --border-color: var(--color-transparent) !important;
        }
        &.secondary:not(.danger), &.tertiary:not(.danger) {
            --color: var(--color-action-default);
            --background-color: var(--color-transparent);

            &:hover {
                --color: var(--color-brand-01-darkest);
                --background-color: var(--color-brand-01-lighter);
                --border-color: var(--color-brand-01-darkest);
            }

            &:active {
                --background-color: var(--color-brand-01-light);
            }
        }

        // DANGER 
        &.danger {
            &, &.primary {
                --color: var(--color-neutral-light-00);
                --background-color: var(--color-feedback-negative-dark);
                --border-color: var(--color-feedback-negative-dark);

                &:hover {
                    --background-color: var(--color-feedback-negative-darker);
                    --border-color: var(--color-feedback-negative-darker);
                }

                &:active {
                    --background-color: var(--color-feedback-negative-darkest);
                    --border-color: var(--color-feedback-negative-darkest);
                }
            }
            &.secondary {
                --color: var(--color-feedback-negative-dark);
                --background-color: var(--color-transparent);
                --border-color: var(--color-feedback-negative-dark);

                &:hover {
                    --background-color: var(--color-feedback-negative-lighter);
                    --border-color: var(--color-feedback-negative-darkest);
                }

                &:active {
                    --background-color: var(--color-feedback-negative-light);
                    --border-color: var(--color-feedback-negative-darkest);
                }
            }
        }

        // SIZE
        &.large {
            --btn-size: 3.5em;
        }

        //With Icon
        &.withIcon {
            gap: 8px;
        }
    }

}