:host {
    --font-family: var(--font-family-theme);
    --font-size: var(--font-size-default);
    --text-color: var(--color-neutral-dark-90);

    --color-disabled: var(--color-neutral-mid-60);
    --border-disabled: var(--color-neutral-light-30);
    --background-disabled: var(--color-neutral-light-20);

    label.custom-select {
        --font-weight-field: var(--font-weight-semibold);

        font-weight: var(--font-weight-field);
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: var(--line-height);
        color: var(--text-color);
        text-align: left; 

        .helper {
            --font-size: var(--font-size-sm);
            --text-color-help: var(--color-neutral-dark-90);
            display: block;
            line-height: var(--line-height);
            font-family: var(--font-family);
            font-size: var(--font-size);
            font-weight: var(--font-weight-normal);
            text-align: left;
        }

        select {
            --text-color-empty: var(--color-neutral-light-30);
            --color: var(--color-neutral-dark-70);
            --padding-horizontal: .5em;
            --padding-vertical: .7em;
            --margin: var(--spacing-xs) 0;
            --text-color: var(--color-neutral-dark-90);
            --font-family: var(--font-family-theme);
            --font-size: var(--font-size-default);
            --background: var(--color-neutral-light-05);
            --color-hover: var(--color-brand-01-dark);
            --color-focused: var(--color-action-default);
            --background-hover: var(--color-brand-01-lightest);
            --outline-color-focused: var(--color-action-focus);

            &.placeholder {
                color: var(--text-color-empty);
            }
            
            font-family: var(--font-family);
            font-size: var(--font-size);
            color: var(--text-color);
            background-color: var(--background);
            padding: var(--padding-vertical) var(--padding-horizontal);
            margin: var(--margin);
            font-weight: var(--font-weight-normal);
            border-radius: var(--border-radius-md);
            border: var(--border-width-sm) solid var(--color);
            min-height: 2.75em;
            appearance: none;
            width: 100%;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.293a.999.999 0 00-1.414 0L12 13.586 6.707 8.293a.999.999 0 10-1.414 1.414l6 6a.997.997 0 001.414 0l6-6a.999.999 0 000-1.414z' fill='%235b1c7d'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right var(--padding-horizontal) center;
            background-size: 24px;
            text-overflow: ellipsis;
            padding-right: 2em;
            opacity: 1;

            &:focus, &:focus-visible {
                color: var(--color-focused);
            }

            &:required:invalid {
                select{
                    border-color: var(--color-feedback-negative-base);
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.293a.999.999 0 00-1.414 0L12 13.586 6.707 8.293a.999.999 0 10-1.414 1.414l6 6a.997.997 0 001.414 0l6-6a.999.999 0 000-1.414z' fill='%23be3e37'/%3E%3C/svg%3E");
                }
                & + .helper {
                    color: var(--color-feedback-negative-base);
                }
            }
        }

        &:not(.disabled) select:hover:not(.placeholder) {
            color: var(--color-hover);
            background-color: var(--background-hover);
        }

        &.disabled {
            color: var(--color-disabled);
            select {
                color: var(--color-disabled);
                border-color: var(--border-disabled);
                background-color: var(--background-disabled);
                cursor: not-allowed;
                pointer-events: none;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.707 8.293a.999.999 0 00-1.414 0L12 13.586 6.707 8.293a.999.999 0 10-1.414 1.414l6 6a.997.997 0 001.414 0l6-6a.999.999 0 000-1.414z' fill='%23B4B4C0'/%3E%3C/svg%3E");
            }

            .helper {
                color: var(--color-neutral-mid-60);
            }
        }
    }
}