<div class="po-wrapper">
  <po-page-default p-title="Teste - Criar um componente button e um componente select">
    <h2>Componente Button:</h2>
    <po-container>
      <code>{{customBtn}}</code>
      <div class="po-md-12 po-lg-12 po-xl-12" style="display: flex; gap: 8px;">
        <custom-btn
          kind="primary"
          label="primary"
          (onClick)="customBtnClick($event)"
        ></custom-btn>
        <custom-btn
          kind="secondary"
          label="secondary"
          (onClick)="customBtnClick($event)"
        ></custom-btn>
        <custom-btn
          kind="tertiary"
          label="tertiary"
          (onClick)="customBtnClick($event)"
        ></custom-btn>
        <custom-btn
          kind="primary"
          label="danger"
          [danger]="true"
          (onClick)="customBtnClick($event)"
        ></custom-btn>
        <custom-btn
          kind="secondary"
          label="danger"
          [danger]="true"
          (onClick)="customBtnClick($event)"
        ></custom-btn>
        <custom-btn
          kind="primary"
          label="disabled"
          [disabled]="true"
          (onClick)="customBtnClick($event)"
        ></custom-btn>
        <custom-btn
          kind="primary"
          label="Icon"
          [icon]='iconTrash'
          (onClick)="customBtnClick($event)"
        >
          <ng-template #iconTrash>
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </ng-template>
        </custom-btn>
        <custom-btn
          kind="secondary"
          [icon]='iconRefresh'
          (onClick)="customBtnClick($event)"
        >
          <ng-template #iconRefresh>
            <fa-icon [icon]="faRefresh"></fa-icon>
          </ng-template>
        </custom-btn>
      </div>
      <div class="po-md-12 po-lg-12 po-xl-12" style="display: flex; flex-direction: column; padding: 16px 0;">
        <p>Button Clicked: {{ customBtnClicked }}</p>
        <p>Button Event</p>
        <code>{{ customBtnEvent }}</code>
      </div>
    </po-container>
    <h2 style="padding: 16px 0 0;">Componente Select:</h2>
    <po-container>
      <div class="po-md-12 po-lg-12 po-xl-12" style="display: flex; gap: 8px;">
        <custom-select
          label="Label"
          helper="Exemplo do texto de ajuda"
        ></custom-select>
        <custom-select
          label="Disabled"
          [disabled]="true"
          helper="Exemplo do texto de ajuda"
        ></custom-select>
        <custom-select
          label="placeholder"
          placeholder="Select an option..."
          [options]="[
            {value: 'option1', label: 'option1'},
            {value: 'option2', label: 'option2'},
            {value: 'option3', label: 'option3'},
          ]"
          [required]="true"
        ></custom-select>
        <custom-select
          label="error"
          placeholder="Select an option..."
          [options]="[
            {value: 'option1', label: 'option1'},
            {value: 'option2', label: 'option2'},
            {value: 'option3', label: 'option3'},
          ]"
          helper="Exemplo do texto de ajuda"
          [required]="true"
        ></custom-select>
      </div>
    </po-container>
  </po-page-default>
</div>
